@import "tailwindcss";

@theme {
  --font-sans: var(--font-dm-sans), sans-serif;
  --color-bg-default: #f5f4ed;
  --color-text-default: #1a1a18;

  --animate-spin: spin 1s linear infinite;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

button {
  cursor: pointer;
}

textarea {
  display: block;
}
