@import "tailwindcss";

@theme {
  --font-sans: var(--font-dm-sans), sans-serif;
  --color-bg-default: #f5f4ed;
  --color-text-default: #1a1a18;
}

button {
  cursor: pointer;
}

textarea {
  display: block;
}
